<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    
            <h2>You are {%if typeofquery=='d' %} {{"deleting from"}} {%else%} {{"editing"}} {%endif%}  the table {{t}}</h2>
            
    <form method = "POST" action="">
        Enter number of the row you want to {%if typeofquery=='d' %} {{"delete"}} {%else%} {{"edit"}} {%endif%} <input type="text", name="name"/>
        <input type = "submit">
    </form>
    <br>
    <a href="/"><button>Go to home page</button></a>
</body>
</html>