

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>Welcome to the War Database</h1>
    <h3>Which table do you want to edit?</h3>
    
    <table border="1">
        <tr>
            <td>
                <b>Name of the table</b>
            </td>
            <td>
                <b>Action to perform</b>
            </td>
        </tr>
        {% for user in userDetails %}
            <tr>
                <td>
                    {{user[0]}}
                </td>
                <td>
                    <a href="/users?table={{user[0]}}"><button>View table</button> </a>
                    <a href="/insert?table={{user[0]}}"><button>Insert entry</button> </a>
                    <a href="/updelete?table={{user[0]}}"><button>Update entry</button> </a>
                    <a href="/delete?table={{user[0]}}"><button>Delete an entry</button></a>
                </td>
            </tr>
            {% endfor %}
    </table>
    


</body>
</html>